<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		</a>
		<a class = "menuItem" href = "/catalog">Catalog</a>
		<a class = "menuItem" href = "/buy">Bucket</a>
		<a class = "menuItem" href = "/">Home</a>
		<% if(admin) { %><a href = "/admin" class = "menuItem"><%= user %></a> <% } else 
		{ %> <h1 class = "menuItem"><%= user %></h1> <% } %>
		
	</div>
	<div id ="content">
		<table caption = "Ctalog" class="steelBlueCols">
			<tr>
				<th>Image</th>
				<th>Name <a href = "catalog?sort=name&order=asc" class = "button">A_Z</a> <a href = "catalog?sort=name&order=desc"  class = "button">Z_A</a></th>
				<th>Description</th>
				<th>Price <a href = "catalog?sort=price&order=asc" class = "button">Lower</a> <a href = "catalog?sort=price&order=desc"  class = "button">Higher</a><br>
				<a href = "catalog?sort=discount&order=desc" class = "button">Discount</a></th>
			</tr>
			
			<% var h = 5;
			console.log("pag1e = " + page);
			var p1 = parseInt(page)+1;
			console.log("Nextpag1e = " + p1);
			console.log("from = " + page*h);
			console.log("to = " + p1*h);
				for(var i = page*h;i<p1*h && i<catalog.length;++i) { %>
			<tr>
				<td>
					<img src = <%= "/assets/"+catalog[i].img %> class = "ico" >
					<br/>
					<a href = <%= "/buy?id="+catalog[i].id %> class = "menuItem">Buy</a>
				</td>
				<td><%= catalog[i].name %></td>
				<td id = "descrCat"><%= catalog[i].description %></td>
				<td>
					<% if(catalog[i].discount > 0) { %>
						<h1 class = "disco">
							<%= catalog[i].price %>
							<br/>
							Discount: -<%= catalog[i].discount %>
						</h1>
					<% } else { %>
					<%= catalog[i].price %>
					<% } %>
						
				</td>
			</tr>
			<% } %>
		</table>
		<% if(page-1>= 0) { %> <a href = <%= "/catalog?page="+(page-1)+"&sort="+sort+"&order="+order %> class = "buttonPrev">Previous</a> <% } %>
		<% if(p1*h < catalog.length) { %> <a href = <%= "/catalog?page="+p1+"&sort="+sort+"&order="+order %> class = "button">Next</a> <% } %>
	</div>
	<div id = "header">
	</div>

</body>
</html>