<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">


</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		</a>
		<a class = "menuItem" href = "/catalog">Catalog</a>
		<a class = "menuItem" href = "/buy">Bucket</a>
		<a class = "menuItem" href = "/">Home</a>
		<% if(admin) { %><a href = "/admin" class = "menuItem"><%= user %></a> <% } else 
		{ %> <h1 class = "menuItem"><%= user %></h1> <% } %>
		
	</div>
	<div id ="content">
				<table caption = "Ctalog" class="steelBlueCols" id = "admtable">
			<tr>
				<th>Image</th>
				<th>Info</th>
			</tr>
			<tr>
				<td id = "admcol">
				<h1>New item</h1>
					<img src = "/assets/new.jpg" class = "ico" >
				</td>
				<td>
					<form action = "/admin" method="post">
						Name: <br><input name="name"/><hr>
						Image:<br><input name="image" type="file"/><a href="/admin?act=open" class = "button">Open</a><hr>
						Price:<br><input name = "price" value = "0" /><hr>
						Discount:<br><input name = "discount" value = "0" /><hr>
						Description:<br/>
						<textarea name="descr" class = "descr"></textarea><br/>
						<input name = "act" type = "hidden" value = "new" />
						<input name = "page" type = "hidden" value = <%= page %> />
						<button class = "button">Add new</button>
					</form>				
				</td>
				
			</tr>
			<% var h = 5;
			console.log("pag1e = " + page);
			var p1 = parseInt(page)+1;
			console.log("Nextpag1e = " + p1);
			console.log("from = " + page*h);
			console.log("to = " + p1*h);
				for(var i = page*h;i<p1*h && i<catalog.length;++i) { %>
			<tr>
				<td id = "admcol">
					<img src = <%= "/assets/"+catalog[i].img %> class = "ico" >
					<br/>
					<a href = <%= "/buy?id="+catalog[i].id %> class = "menuItem">Buy</a>
				</td>
				<td>
					<form action = "/admin" method="post">
						Name: <br><input name="name" value = "<%= catalog[i].name %>" /><hr>
						Image:<br><input name="image" value = "<%= catalog[i].img %>" /><hr>
						Price:<br><input name = "price" value = "<%= catalog[i].price %>" onchange="bar()"/><hr>
						Discount:<br><input name = "discount" value = "<%= catalog[i].discount %>"/><hr>
						Description:<br/>
						<textarea name="descr" class = "descr"><%= catalog[i].description %></textarea><br/>
						<input name = "id" type = "hidden" value = "<%= catalog[i].id %>" />
						<button class = "button">Update</button>
					</form>
					<hr/>
					<a href = <%= "/admin?act=delete&id="+catalog[i].id+"&page="+page %> class = "button">Delete</a>
				</td>
				
			</tr>
			<% } %>
		</table>
		<% if(page-1>= 0) { %> <a href = <%= "/admin?page="+(page-1) %> class = "buttonPrev">Previous</a> <% } %>
		<% if(p1*h < catalog.length) { %> <a href = <%= "/admin?page="+p1 %> class = "button">Next</a> <% } %>
	</div>
	<div id = "header">
	</div>

</body>
</html>