<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<<a class = "menuItem" href = "/">Home</a>
		<a class = "menuItem" href = "/load">Load</a>
		<a class = "menuItem" href = "/profile">Profile</a>
				<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		<% if(admin) { %><a href = "/admin" class = "menuItem"><%= user %></a> <% } else 
		{ %> <h1 class = "menuItem"><%= user %></h1> <% } %>
	</div>
	<div id ="content">
		<table caption = "Ctalog" class="steelBlueCols">
			<tr>
				<th>Task</th>
				<th>Server</th>
				<th>Start</th>
				<th>Progress</th>
			</tr>
			
			<% for(var i =0;i<conf.length;++i) { console.log(conf[i]); %>
			
			<tr>
				<td> Task № <%= conf[i].id %> </td>
				<td> Server № <%= conf[i].server %> </td>
				<td> <%= conf[i].start %> </td>
				<td> 
					<a href = <%= "/result?task="+conf[i].id %> class = "button">
						<%= (conf[i].file / conf[i].files * 100).toFixed(2) %> %
					</a>
				</td>
			</tr>
			
			<% } %>
			<a href = "/profile" class ="button">Update</a>
		</table>
	</div>
	<div id = "header">
	</div>

</body>
</html>